html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f3f3f3;
  font: normal normal normal 14px/20px 'Microsoft YaHei', Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
